body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
}


/* Homepage */
/* Small Screens */
@media screen and (min-width:320px) {
    .hero-img {
        position: relative;
        
    }

    .cover-text {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .hero-img-heading {
        letter-spacing: 3px;
        font-weight: 700;
    }

    .hero-img-sub-heading {
        font-weight: 600;
    }

    .hero-img-btn {
        border-color: #7ca938;
        background-color: #7ca938;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .hero-img-btn:hover{
        border-color: #465f21;
        background-color: #465f21;
    }
    .hero-img-btn:active{
        border-color: #465f21;
        background-color: #465f21;
    }
    .steps-section {
        background-color: #f6f2f1e7;
    }

    .steps-section-button {
        border-color: #7ca938;
        background-color: #7ca938;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 120px;
    }
    .steps-section-button:hover{
        border-color: #465f21;
        background-color: #465f21;
    }
    .steps-section-button:active{
        border-color: #465f21;
        background-color: #465f21;
    }

    .steps-heading {
        font-weight: 700;
        letter-spacing: 3px;
    }

    .steps-text {
        font-weight: 600;
    }

}
/* Med Screens */

@media screen and (min-width:768px){

    .cover-text {
        position: absolute;
        top: 100px;
        left: 100px;
    }

    .hero-img-heading {
        letter-spacing: 5px;
        font-weight: 700;
        font-size:8vw;
    }

    .hero-img-sub-heading {
        font-size: 3vw;
        font-weight: 600;
    }
    .steps-section-button {
        width: 200px;
    }

    .steps-heading {
        letter-spacing: 5px;
        font-weight: 700;
        font-size:6vw;
    }

    .steps-text {
        font-size: 3vw;
        font-weight: 600;
    }

}

/* Large Screens */

@media screen and (min-width:992px){
   
   
    .cover-text {
        position: absolute;
        top: 100px;
        right:100px;
        text-align: right;
        
        
    }
    
    .hero-img-heading {
        margin-top: 20px;
        font-size: 4vw;
        letter-spacing: 1.5vw;
        font-weight: 400;
    }
    
    .hero-img-sub-heading {
        margin-top: 2vh;
        font-size: 1.5vw;
        font-weight: 300;
    }
    
    .hero-img-btn {
        margin-top: 20px;
        background-color: #fe7101;
        border-color: #fe7101;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .hero-img-btn:hover{
        background-color: #bb5908;
        border-color: #bb5908;
    }

    .hero-img-btn:active{
        background-color: #bb5908;
        border-color: #bb5908;
    }
    .steps-section {
        background-color: #e9e7e8;
    
    }
    .steps-section-button {
    
        background-color: #fe7101;
        border-color: #fe7101;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 200px;
    }
    .steps-section-button:hover{
        background-color: #bb5908;
        border-color: #bb5908;
    }

    .steps-section-button:active{
        background-color: #bb5908;
        border-color: #bb5908;
    }
    
    .steps-heading {
        font-size: 2vw;
    }
    
    .steps-text {
        font-size: 1.5vw;
    }
    
    .step-1,
    .step-2 {
        border-right: 2px solid black;
        border-bottom: none;
    }
    

}

/* Ingredients Page */

.card-img-top{
    height: 40vh;
    width:100%;
    object-fit: cover;
}

.owl-prev{
left:0;
}


.owl-next{
    right:0;
}

.owl-next, .owl-prev{
    position: absolute;
    top:15vh;
}

.owl-next span, .owl-prev span{
    font-size: 60px;
    color: black;
}

.ingredient-btn{
    border-color: #7ca938;
    background-color: #7ca938;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ingredient-btn:hover{
    border-color: #465f21;
    background-color: #465f21;
}
.ingredient-btn:active{
    border-color: #465f21;
    background-color: #465f21;
}

/* Log in and register forms */

.form-card-header{
    background-color: #90AF4C;
}

.card-forms{
    box-shadow:
      0 6px 6px hsl(0deg 0% 0% / 0.3);
  }


.form-btn{
    background-color: #90AF4C;
    border-color: #90AF4C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-btn:hover{
    background-color: #465f21;
    border-color: #465f21;
}

.form-btn:active{
    background-color: #465f21;
    border-color: #465f21;
}

/* Flash Messages */
.flash-messages{
    background-color: #90AF4C;
}

.flash-once {
    animation: flash 1s linear 1;
  }
  @keyframes flash {
    50% {
      opacity: 50%;
    }
    from {
      color:#465f21 ;
    }
    to {
      color: #90AF4C;
    }
  }


  .recipe-btn{
    background-color: #90AF4C;
    border-color: #90AF4C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.recipe-btn:hover{
    background-color: #465f21;
    border-color: #465f21;
}

.recipe-btn:active{
    background-color: #465f21;
    border-color: #465f21;
}

/* Full Recipe page */
@media screen and (min-width:992px){
.ingredients{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.card-columns {
    column-count: 2;
 }

}
.save-recipe-btn{
    background-color: #90AF4C;
    border-color: #90AF4C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.save-recipe-btn:hover{
    background-color: #465f21;
    border-color: #465f21;
}

.save-recipe-btn:active{
    background-color: #465f21;
    border-color: #465f21;
}

/* Full Recipe page */

.upload-recipe-btn{
    
        background-color: #90AF4C;
        border-color: #90AF4C;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    

.upload-recipe-btn:hover{
        background-color: #465f21;
        border-color: #465f21;
    }
    
    .upload-recipe-btn:active{
        background-color: #465f21;
        border-color: #465f21;
    }

   