{% extends "base.html" %}
{% block content %}
<div class="container position-relative">
    <div class="row">
        <div class="col">
            <h1 class='text-center'>{{recipe.recipe_name.capitalize()}} </h1>
            <p class='text-center fst-italic'> {{recipe.recipe_description}}</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-6 px-5">
        <img src="{{ recipe.recipe_image }}" class="img-fluid my-5" alt="">
    </div>

    <div class="col-sm-12 col-lg-6 px-5 ingredients">
        <h2 class='mb-3'>Ingredients</h2>
        <ul class=" card-columns">
            {% for ingredient in recipe.recipe_ingredients %}
            <li class="mb-3">{{ ingredient.capitalize() }}</li>
            {% endfor  %}
        </ul>
    </div>

</div>

<div class="row">
    <div class="col mx-5">
        <h2>Method</h2>
        <ol>
            {% for step in recipe.method %}
            <li class="my-3">{{ step.capitalize() }}</li>
            {% endfor  %}

        </ol>
    </div>
</div>

<div class="row">
    <div class="col text-center py-5">
        {% if session.current_user %}
        
            <a href ="{{url_for('saverecipe', recipe_id = recipe._id)}}" id='saverecipebtn' type='submit'  name='saverecipebtn'
                class="btn btn-lg btn-primary my-5 save-recipe-btn">Save Recipe</a>
        
        {% else %}
        <a href="{{ url_for('login')}}" class='btn btn-lg btn-primary save-recipe-btn'>Log In to Save Recipe
        </a>
        {% endif %}
    </div>

</div>

</div>
<div class="row">
    <div class="col mb-5 text-muted text-center">
        Recipe Submitted by {{ recipe.recipe_author_username}}
    </div>
</div>

{% endblock content  %}