{% extends "base.html" %}
{% block content %}
<div class="container position-relative">
    <div class="row">
        <div class="col ">
            <h1 class=text-center>{{recipe.recipe_name}} </h1>
            <img  class ="img-fluid my-5" src="{{ url_for('static', filename='images/small_asparagus.jpeg') }}" alt="">
            <h2>Ingredients</h2>
            <ol class="my-2">
                {% for ingredient in recipe.recipe_ingredients %}
                <li class = "my-3">{{ ingredient }}</li>
                {% endfor  %}
            </ol>
            <h2>Method</h2>
            <ol>
                {% for step in recipe.method %}
                <li class = "my-3">{{ step }}</li>
                {% endfor  %}
               
            </ol>
            <a href="" class='btn btn-primary my-5 position-absolute top-100 start-50 translate-middle'>Save Recipe</a>
        </div>
    </div>
</div>
{% endblock content  %}