{% extends "base.html" %}
{% block content %}
    <!-- Hero Image -->
    <div class="container-fluid g-0">
        <div class="row ">
            <div class="col hero-img">
                 <picture>
                     <source class='img-fluid ' media="(max-width: 992px)" srcset="{{ url_for('static', filename='images/asparagus.jpg') }}">
                     <img class='img-fluid ' src="{{ url_for('static', filename='images/tomatoes.jpg') }}"alt="">
                 </picture>   
                    <div class='cover-text'>
                        <h1 class='hero-img-heading'> IN SEASON</h1>
                        <p class='hero-img-sub-heading'>Recipes for eating seasonally</p>
                        <button type="button" class="btn btn-primary hero-img-btn">What's In Season </button>
                    </div>
            </div>
        </div>
    </div>

    <!-- Steps Section -->
    <div class="container-fluid steps-section">
        <div class="row">
            <div class="col-xs-12 col-lg-4 text-center py-5 step-1 ">
                <i class="fas fa-calendar-alt fa-3x"></i>
                <h3 class="steps-heading py-3">Step 1</h3>
                <p class="steps-text py-3">Find the ingredients that are in season now.</p>
                <a href =" {{ url_for('ingredients') }}"class="btn-primary btn steps-section-button py-3">Ingredients</a>
            </div>
            <div class="col-xs-12 col-lg-4 text-center py-5 step-2 ">
                <i class="fas fa-utensils fa-3x"></i>
                <h3 class="steps-heading py-3">Step 2</h3>
                <p class="steps-text py-3"> Find delicious recipes that use those ingredients and enjoy!</p>
                <a href =" {{ url_for('recipes') }}" class="btn-primary btn steps-section-button py-3">Recipes</a>
            </div>
            <div class="col-xs-12 col-lg-4 text-center py-5 step-3 ">
                <i class="fas fa-users fa-3x"></i>
                <h3 class="steps-heading py-3" >Step 3</h3>
                <p class="steps-text py-3">Save and share your favourite recipes with our community </p>
                <a class="btn-primary btn steps-section-button py-3" data-bs-toggle="modal" data-bs-target="#registerModal">Join</a>
            </div>
        </div>
    </div>

   
{% endblock %}