{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col my-5 text-center">
            <h1>In Season in October</h1>
        </div>
    </div>
</div>
<div id ="current-month-carousel" class="owl-carousel owl-theme px-5">
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/small_asparagus.jpeg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/carrots.jpg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/rhubarb.jpg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col my-5 text-center">
            <h1>Coming into season in November</h1>
        </div>
    </div>
</div>
<div id ="next-month-carousel" class="owl-carousel owl-theme px-5">
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/small_asparagus.jpeg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/carrots.jpg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    <div class="card border-0">
        <h4 class="card-title text-center">Asparagus</h4>
        <img src="{{ url_for('static', filename='images/rhubarb.jpg') }}" class="card-img-top d-block w-100"
            alt="...">
        <div class="card-body text-center">
            <p class="card-text ">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
            <button class="btn btn-primary">Find Recipes</button>
        </div>
    </div>
    

</div>






{% endblock content %}