{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 my-5 px-3">
            <div class="card card-forms">
                <div class="card-header form-card-header py-3">
                    <h1 class="card-title">Log In</h1>
                </div>
                <div class="card-body">
                    <form method='POST' action=" {{ url_for('login')}}">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-3 form-btn">Log In</button>
                        </div>
                    </form>


                </div>
                <div class="card-footer">
                    <p class='text-muted'>Don't have an account? <span> <a href="{{url_for('register')}}">Register Here.</a></span> </p>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock content %}