{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Favourite Recipes</h1>
            <hr>
        </div>
    </div>
</div>
{% if user_recipes %}


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for recipe in user_recipe_list %}  
        <div class="col">
          <div class="card h-100 mx-2 px-3 py-5 border-0">
            <img src="{{ recipe.recipe_image }}" class="img-fluid rounded-start" alt="...">
            <div class="card-body">
              <h2 class="card-title "> {{ recipe.recipe_name }}</h2>
              <p class="card-text">{{ recipe.recipe_description}}</p>
            </div>
            <div class="card-footer bg-transparent border-0">
              <form method ='POST' action="{{ url_for('fullrecipe', recipe = recipe.recipe_name)}}">
              <button id='fullrecipebtn' type = 'submit' value ="{{ recipe.recipe_name }}" name = 'fullrecipebtn' class = "btn btn-primary recipe-btn">Get Full Recipe</button>
              
            </form>
              
            </div>
          </div>
        </div> 
    {% endfor %}
 </div>   
    {% else %}

    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <h3 class="mx-3 my-3">You haven't saved any recipes yet.</h1>
            </div>
        </div>

    </div>

{% endif %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>My Recipes</h1>
            <hr>
        </div>
    </div>
</div>
{% if authored_recipes %}
<div class="container-fluid">


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
{% for recipe in authored_recipes %}
    <div class="col">
        <div class="card h-100 mx-2 px-3 py-5 border-0">
            <img src="{{ recipe.recipe_image }}" class="img-fluid rounded-start" alt="...">
        <div class="card-body">
            <h2 class="card-title "> {{ recipe.recipe_name }}</h2>
            <p class="card-text">{{ recipe.recipe_description}}</p>
        </div>
        <div class="card-footer bg-transparent border-0">
            <form method='POST' action="{{ url_for('fullrecipe', recipe = recipe.recipe_name)}}">
                <button id='fullrecipebtn' type='submit' value="{{ recipe.recipe_name }}" name='fullrecipebtn'
                    class="btn btn-primary recipe-btn">Get Full Recipe</button>

            </form>

        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class=" mx-3 my-2">Click the button below to add your own recipes to the site</h1>
                <a href="{{ url_for('uploadrecipe') }}" class="btn btn-primary mx-3 my-5 upload-recipe-btn">Upload Recipe</a>
        </div>
    </div>
</div>
    

{% else %}
<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <h3 class="mx-3 my-3">You haven't uploaded any recipes yet.</h1>
                <h3 class=" mx-3 my-3">Click the button below to add your own recipes to the site</h1>
                    <a href="{{ url_for('uploadrecipe') }}" class="btn btn-primary mx-3 my-5">Upload Recipe</a>
        </div>
    </div>

</div>
</div>
{% endif %}




{% endblock content %}