{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1>Recipes</h1>
    </div>

  </div>
</div>
<div class="container text-center my-5">
  <div class="row">
    <div class="col">
      <form class="d-flex" method="POST" action="{{ url_for('search')}}">
        <input id="query" class="form-control me-2" type="search" name='query'
          placeholder="Recipe, ingredient, or cuisine" aria-label="Search" required>
        <button class="btn btn-primary form-btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
{% if not recipes %}
<div class ="container">
  <div class="row">
    <div class="col text-center">
      <img class = "img-fluid" src="{{url_for('static', filename = 'images/recipes/sadfaceplate.jpg') }}" alt="An Empty plate with a sad face on it">
      <p class="text-lead my-3">Sorry, it looks like we don't have any recipes for that yet.</p>
    </div>
  </div>

</div>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for recipe in recipes %}
  <div class="col">
    <div class="card h-100 mx-2 px-3 py-5 border-0">
      <div style="background-image: url({{ recipe.recipe_image }})"  class="recipe-img" alt="{{recipe.recipe_name.capitalize()}}, {{recipe.recipe_description}}"> </div>
      <div class="card-body">
        <h2 class="card-title "> {{ recipe.recipe_name.capitalize() }}</h2>
        <p class="card-text">{{ recipe.recipe_description}}</p>
      </div>
      <div class="card-footer bg-transparent border-0">
        
          <a id='fullrecipebtn' href="{{url_for('fullrecipe', recipe_id= recipe._id)}}"  name='fullrecipebtn'
            class="btn btn-primary recipe-btn">Get Full Recipe</a>

    

      </div>
    </div>
  </div>


  {% endfor %}

  {% endblock content %}