{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 my-5">
            <div class="card card-forms border">
                <div class="card-header form-card-header ">
                        <h1 class="card-title">Upload New Recipe</h1>
                    </div>
                    <div class="card-body">
                        <form method='POST' action="{{ url_for ('uploadrecipe')}}">
                            <div class="my-3">
                                <label for="recipe_name" class="form-label form-label-required">Recipe Name</label>
                                <input type="text" class="form-control" id="recipe_name" name="recipe-name"
                                    placeholder="Recipe Name" maxlength="50" required>
                            </div>
                            <div class="mb-3">
                                <label for="recipe-description" class="form-label form-label-required">Recipe Description</label>
                                <textarea type="text" class="form-control" id="recipe-description" rows="2"
                                    name="recipe-description" placeholder="Short description of recipe" maxlength="150" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label class = "form-label-required"for="seasonal-ingredient">Seasonal Ingredient</label>
                                <select class="form-select" aria-label="Seasonal Ingredient Select Form" id='seasonal-ingredient'
                                    name='seasonal-ingredient' required>
                                    <!-- First Value Empty to ensure Required attribute works -->
                                    <option value = "">Choose Ingredient</option> 
                                    {% for ingredient in ingredients %}
                                    <option value="{{ ingredient.ingredient_name}}">{{ingredient.ingredient_name}}</option>
                                    {% endfor  %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ingredients" class="form-label form-label-required">Ingredients</label>
                                <textarea class="form-control" id="ingredients" name="ingredients" rows="10"
                                    placeholder="Start a new line for each ingredient " required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="method" class="form-label form-label-required">Method</label>
                                <textarea class="form-control" id="method" name="method" rows="10"
                                    placeholder="Start a new line for each step" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="dish-category">Dish Category</label>
                                <select class="form-select" aria-label="Dish Category" id='dish-category' name='dish-category'>
                                    <option selected>Choose dish type</option>
                                    <option value="main">Main</option>
                                    <option value="starter">Starter</option>
                                    <option value="dessert">Dessert</option>
                                </select>
                            </div>
                            <div class='mb-3'>
                                <label for="cuisine" class="form-label">Type of Cuisine</label>
                                <input type="text" class="form-control" id="cuisine" name="cuisine"
                                    placeholder="eg French, Irish, Italian" maxlength="50">
                            </div>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-primary form-btn">Upload Recipe</button>
                            </div>
                        </form>
            
                    </div>   
            </div>        
        </div>
    </div>
</div>    






    {% endblock content %}